{% extends "./partials/head.html" %}
{% block content %}
<div class="contentBox2">
    <div class="titleBox">
        <h1 class="completedTitle">
            {{ blog.title }}
        </h1>
        <p class="welcome">SECURE Version: XSS Vulnerability (DOM) *Fixed*</p>
    </div>


    <div class="completedBox">

        <form method="POST" action="{{ url_for('delete_blog', blog_id=blog_id)}}" id="completedDelete">

            <div class="completedInfo">
                <span class="completedUser">
                    {{ blog.username}}
                </span>
                {% if blog_date %}
                <span class="completedCreated">
                    {{ blog_date}}
                </span>
                {% endif %}
            </div>

            <div class="completedBody">
                {{ blog.content }}
            </div>

            <div class="completedButtons">
                <a href="{{ url_for('home')}}" class="clearBtn">Return Home</a>
                <!--FIX BELOW-->
                {% if session.user_id == user_id or session.role == 'admin' %}

                <button type="button" class="deleteBtn btn btn-outline-success my-2 my-sm-0">Delete</button>
                {% endif %}

            </div>

        </form>
    </div>

    <div class="completedBox">
        <form action="POST" action="#" id="completedDelete">
            <div class="completedComments">
                <div class="commentsArea">
                    <textarea id="comment" name="comment" id="createComment" placeholder="Add comment..." cols="50" rows="5"></textarea>
                </div>
                <div class="commentsBtns">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Create</button>
                    <button type="button" class="btn btn-outline-success my-2 my-sm-0 btnCancel" data-type="comment">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}