<!--
    Link to Head.html
-->

{% extends "./partials/head.html" %}

<!--
   Flask Block
-->

{% block content %}
<!--
    Title Div
-->
<div class="homeBox">
    <div class="titleBox">
            <h2>Welcome, {{ session.username}}!</h2>
            <p class="anouncement">SECURE Version: XSS Vulnerability (Reflected) *Fixed* </p>
    </div>

<!--
    Log-in Message
-->
    <div class="homeMsg">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flashNotice">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>

<!--
    Search Div (Bootstrap)
-->

    <div class="contentBox">
        <div class="searchBox">
            <form method="POST" action="{{ url_for('home')}}" class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <div id="homeBtns">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

                    {% if user_search %}
                        <button type="button" class="btn btn-outline-success my-2 my-sm-0 clearBtn">Clear</button>
                    {% endif %}
                </div>
            </form>

<!--
    Search Results Div
-->

        <div class="blogsBox">
            <div class="blogsTitle">
                <h4 id="searchTitle">
                    {% if user_search %}
                    Found Blogs:
                    {% elif search_made %}
                    Nothing found.
                    {% endif %}
                </h4>
            </div>

            {% if search_word %}
            <div class="searchedTerm">
                <h6>
                    <u>You searched:</u>
                    {{ search_word }}
                </h6>
            </div>
            {% endif %}

            {% if search_blogs %}
            {% for blog in search_blogs %}
                <div class="blogBox">
                    <div class="blogTitle">

                        <h5 class="searchName">
                            <a href="{{url_for('blog', blog_id=blog[0])}}">{{ blog[2]}}</a>
                        </h5>
                    </div>
                    <div class="blogFacts">
                        <span class="searchFact">{{ blog[3] }}</span>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>

<!--
    Custom Break Line Div
-->
            <div class="blogDivider"></div>

<!--
    Users Blogs List
-->

        <div class="blogsBox">
            <div class="blogsTitle">
                <h4>
                    User Blogs:
                </h4>
            </div>
            {% if blogs %}
            {% for blog in blogs %}
            <div class="blogBox">
                <div class="blogTitle">
                    <h5>
                        <a href="{{url_for('blog', blog_id=blog[0])}}">
                            {{ blog[1] }}
                        </a>
                    </h5>
                </div>
                <div class="blogFacts">
                    <span>{{ blog[2] }}</span>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="blogBox">
                <div class="blogTitle">
                    <h5>
                        User has no blogs.
                    </h5>
                </div>
            </div>
            {% endif %}
        </div>

        <div id="xss"></div>


    </div>
</div>
{% endblock %}

