html {
    height: 100%;
}

.appLogo {
    margin-left: 5px;
}

.contentBox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 550px;
}

.middleBox {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px;
    width: 100%;
    max-width: 450px;
}

.formBox label{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 700;
    font-size: 14px;
    margin-top: 3px;
}

.formBox input {
    width: 100%;
    padding: 12px;
}

.btnInfo {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 0;
    padding-left: 2px;
    padding-bottom: 4px;
}

.btnInfo:hover {
    transform: scale(1.4);
    color: crimson;
}

.btnSubmit {
    width: 100%;
    padding: 14px;
    background-color: rgb(96, 154, 225);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.linkText {
    margin-top: 0;
    padding: 20px;
    border-radius: 8px;
    max-width: 480px;
    text-align: center;
}

.footerBox{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 80px;
}

.footerBox h2 {
    bottom: 0;
    text-align: center;
    font-size: 28px;
}

.helpBox {
    display: block;
    margin-top: 5px;
    font-size: 10px;
    color: red;
}

.helpBox.hidden {
    display: none;
}

