/*
    Login and Register CSS
*/
html {
    height: 100vh;
}

.appLogo {
    margin-left: 5px;
}

.contentBox {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 570px;
}

.middleBox {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px;
    width: 100%;
    max-width: 500px;
    max-height: 580px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.formBox label {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 700;
    font-size: 14px;
    margin-top: 3px;
}

.formBox input {
    width: 100%;
    padding: 12px;
}

.btnInfo {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 0;
    padding-left: 2px;
    padding-bottom: 4px;
}

.btnInfo:hover {
    transform: scale(1.4);
    color: crimson;
}

.btnSubmit {
    width: 100%;
    padding: 14px;
    background-color: rgb(96, 154, 225);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.linkText {
    margin-top: 0;
    padding: 20px;
    border-radius: 8px;
    max-width: 480px;
    text-align: center;
}

.footerBox {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 70px;
}

.footerBox h2 {
    bottom: 0;
    text-align: center;
    font-size: 28px;
}

.helpBox {
    display: block;
    margin-top: 5px;
    font-size: 10px;
    color: red;
}

.helpBox.hidden {
    display: none;
}

.revealPassBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.revealPassBtn label {
    text-align: left;
    min-width: 120px;
    font-style: italic;
    font-weight: normal;

}

/*
    Home CSS
*/
.homeBox {}

.titleBox {
    text-align: center;
    margin-top: 10px;
}

.homeMsg {
    text-align: center;
    color: red;
    font-weight: 600;
}

.contentBox {
    max-height: 480px;
}

.searchBox {
    min-width: 450px;
    min-height: 400px;
}

.searchBox form {
    border: 4px double black;
    border-radius: 2%;
    padding: 4px;
}

.searchBox input {
    padding: 10px;
    border: 2px dashed red;
}

#homeBtns {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blogsBox {
    text-align: center;
    margin-top: 5px;
}

.blogBox {
    border: 1px dashed green;
    margin-top: 2px;
}

.blogBox .blogTitle {
    margin-top: 2px;
    font-style: italic;
    font-weight: 100;
}

.blogDivider {
    border: 1px solid black;
    margin-top: 2px;
    margin-bottom: 20px;
}

.clearBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid green;
    text-decoration: none;
    margin-left: 5px;
    min-width: 100px;
    text-align: center;
    border-radius: 7%;
    color: green;
}

.clearBtn:hover {
    color: white;
    background-color: green;
}

/*
    Create CSS
*/

#createInput {}

#createText {
    padding: 5px;
}

.anouncement {
    color: red;
    text-decoration: underline;
    margin-bottom: 5px;
    font-size: small;
}

.createBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*
    Blog CSS
*/

.blogInfo {
    text-align: center;
}

.completedBox {
    display: flex;
    flex-direction: column;
}

.completedButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.completedInfo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.completedBody {
    min-height: 300px;
    margin: 4px;
    padding: 2px;
    border: 5px double black;
}

.completedButtons {
    margin-top: 4px;
    margin-bottom: 8px;
}

.clearBtn {
    margin-right: 5px;
}

.completedComments {
    margin-top: 3px;
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.commentsArea textarea {
    max-width: 450px;
}

.commentsBtns button {
    max-width: 200px;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
}