.appLogo {
    margin-left: 5px;
}

.contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.middleBox {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px;
    width: 100%;
    max-width: 400px;
}